<a href="/bank" class="brand-logo left">ddsf</a>
<ul class="right">
  <li><a href="/bank/new">Create a new Fruit</a></li>
    <li><a href="/bank/new">Sign Up</a> </li>
    <li><a href="/bank/new">Log In</a> </li>
</ul>
