<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- Our personal style sheet -->


    <link rel="stylesheet" href="./styles/edit.css" charset="utf-8">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
    this will be the page where user information, like address will be changed

</div>



  </body>
</html>
