<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <!-- JQuery -->
<script type=“text/javascript” src=“https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js”></script>
<!-- Bootstrap tooltips -->
<script type=“text/javascript” src=“https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js”></script>
<!-- Bootstrap core JavaScript -->
<script type=“text/javascript” src=“https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js”>
</script>
<!-- MDB core JavaScript -->
<script type=“text/javascript” src=“https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js”></script>
<!-- Font Awesome Icons -->
<link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.14.0/css/all.css”>
<script src=“https://kit.fontawesome.com/183e710af3.js” crossorigin=“anonymous”></script>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        <div class ="text-center">

          <h1 class="h1" style="margin:auto;"> Error on the Bill? Fix it here!</h1>

            <form action="/bankofcali/listofbills/post" method="POST">
              <div class="text-center jumbotron jumbotron-fluid">
                <div class="box" style="border:solid 1px black; width: 50%; align-items:center; margin:auto; color: maroon;" >
                    Who's It From?<input type="text" name="bill" value="" /><br/>
                    How Much? $<input type="number" name="amount" value="0" /><br/>
                     <input type="submit" value="Add It!"/>
                   </div>
                 </div>
    </body>
</html>
