<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Edit Fruit Page</h1>
        <form action="/bankofcali/bills/put/<%=bills.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=bills.bill%>"/><br/>
            Color: <input type="text" name="color" value="<%=bills.amount%>"/><br/>
            Is Ready to Eat:

            <input type="submit" value="Submit Changes" />
        </form>
    </body>
</html>
