<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    this is where the user can add a new transaction to the list
  </body>
</html>


// add a form to add transaction
