<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"     integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 


  <link rel="stylesheet" href="./styles/new.css" charset="utf-8">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1> Add A Transaction </h1>

    <form action="/bankofcali/home" method="POST">
          Invoice #  <input type="number" name+'invoice' value="Invoice #" /><br/>

            Description <input type="text" name="" value="" /><br/>
               -$<input type="number" name="withdrawl" value="0" /><br/>
                +$<input type="number" name="deposit" value="0"/><br/>
             <input type="date" name="date" /><br/>
             <input type="submit" value="Add Transaction"/>


          </form>



  </body>
</html>
